/*input {} 또는 속성 태그 [type="text"]

[type="text"] {
    resize: both;} 
*/

.resize {
    overflow: auto;
    width: 200px;
    height: 50px;
    background-color: aqua;
    border: 3px solid black;
    resize: both;
}

.outline_offset {
    background-color: pink;
    outline: 3px solid yellowgreen;
    outline-offset: 20px;
    border: 3px purple;

}

.box_sizing {
    position : relative;
    top: 30px;
    background-color: brown;
    padding: 20px;
    box-sizing: border-box;
}

.section {overflow: auto;}


.columns {
    columns: 50px 3;
    column-gap: 20px;
    column-rule: 2px solid darkkhaki
}

.flex_c {
    background-color: plum;
    height: auto;
    display: flex; /*한 줄에 글이 정렬됨*/
    /*justify-content: center; /*이 태그로 중앙 정렬가능*/
    align-content: space-between; /*이 태그 2줄 이상일 때 사용 가능*/
    flex-wrap: wrap;/*크기에 맞춰 들어감*/
}

.flex_c P {
    background-color: coral;
}
