H1 {
    font-family: fantasy;
}

div {
    width: 50%;
    border: 3px solid olive;
    background-color: beige;
}
/*ul에 볼더를 적용하면 리스트 위아래에 바로 달라붙어서 적용됨..예쁘게 하려면 div!!!*/
ul {
    list-style-type: circle;
}

/*a 대신 class로 구분한 .link로 넣어주기도 가능 */
.link:link, .link:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-shadow: 1px 2px 2px gray;
}
/*세번째 좌표는 가우시안 블러*/

span {
    font-family: "궁서체";
    color: green;
    text-decoration: wavy underline red;
}



/*2번째 실습, 4번째 실습*/

h1 {
    text-align: center;
}

table {
    padding: 300px;
    background-color: beige;
    border-collapse: collapse;
    border-radius: 5px;
    margin: auto;
}
/*css는 가장 작은 값을 우선하기 때문에 table보다 tr에 설정한 내용이 더 먼저 나온다.
그래서 둥근 칸이 밑의란만 적용되는 것. 둘다 적용하려면 tr에 따로 적용해줘야함.*/
/*테이블 말고 각각의 데이터(td)에 패딩을 넣어줘야함!!!*/


.table_1 {
    background-color: orange;
    border-bottom: 2px solid brown;
}

td {
    padding: 10px 20px;
}